@charset "UTF-8";


/*	CUSTOM FONTS	*/


@font-face {
    font-family: 'source_sans_proregular';
    src: url(http://www.misa.civicinfo.bc.ca/fonts/sourcesanspro-regular-webfont.eot);
    src: url(http://www.misa.civicinfo.bc.ca/fonts/sourcesanspro-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(http://www.misa.civicinfo.bc.ca/fonts/sourcesanspro-regular-webfont.woff) format('woff'),
         url(http://www.misa.civicinfo.bc.ca/fonts/sourcesanspro-regular-webfont.ttf) format('truetype'),
         url(http://www.misa.civicinfo.bc.ca/fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prolight';
    src: url(http://www.misa.civicinfo.bc.ca/fonts/sourcesanspro-light-webfont.eot);
    src: url(http://www.misa.civicinfo.bc.ca/fonts/sourcesanspro-light-webfont.eot?#iefix) format('embedded-opentype'),
         url(http://www.misa.civicinfo.bc.ca/fonts/sourcesanspro-light-webfont.woff) format('woff'),
         url(http://www.misa.civicinfo.bc.ca/fonts/sourcesanspro-light-webfont.ttf) format('truetype'),
         url(http://www.misa.civicinfo.bc.ca/fonts/sourcesanspro-light-webfont.svg#source_sans_prolight) format('svg');
    font-weight: normal;
    font-style: normal;
}


/*	BODY	*/


body {

	font-family: "source_sans_proregular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

}


/*	UNIFORM WIDTH	*/


#banner, #page_title, #footer > *, #top_nav, #main_container {

	width: 960px;
	margin-left: auto;
	margin-right: auto;

}


/*	WIDTH OF MAIN WITH SIDEBAR	*/


#main_container {

	overflow: hidden;

}


#main.with_sidebar {

	float: left;
	width: 780px;
	margin-left: 20px;

}


#sidebar {

	float: left;
	width: 160px;

}


/*	HEADER	*/


#header {

	background-color: #65728A;
	background-repeat: no-repeat;
	background-position: center;
	height: 395px;

}


#banner {

	height: 90px;
	color: white;
	font-size: 8pt;
	text-transform: uppercase;
	background-color: #2B3549;
	position: relative;

}


#user_area {

	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: 0px !important;
	line-height: 90px;
	vertical-align: middle;
	text-align: right;
	padding-right: 10px;
	font-size: 10pt;
	text-transform: none;

}


#banner img {

	margin-left: 15px;
	margin-top: 30px;
	margin-right: 15px;

}


#banner div {

	display: inline;
	margin-top: 35px;

}


#banner a {

	text-decoration: inherit;
	color: inherit;
	padding-left: 5px;
	padding-right: 5px;

}


#user_area a {

	padding-left: 0px;
	padding-right: 0px;

}


#page_title {

	height: 255px;
	line-height: 255px;
	vertical-align: middle;
	box-sizing: border-box;
	padding-left: 15px;
	font-size: 19pt;
	color: #BFCBE6;
	position: relative;

}

#top_nav > a {

	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	color: #E6E6E6;
	text-decoration: inherit;
	width: 192px;
	width: calc((100% - 1px) / 5);
	width: -webkit-calc(100% / 5);

}

#top_nav.four > a {

	width: 240px;
	width: calc((100% - 1px) / 4);
	width: -webkit-calc(100% / 4);

}

#top_nav.two > a {

	width: 480px;
	width: calc((100% - 1px) / 2);
	width: -webkit-calc(100% / 2);

}

#top_nav.one > a {

	width: 100%;

}

#top_nav > a:nth-child(1) {

	background: #73161E;

}

#top_nav > a:nth-child(2) {

	background: #BF0F30;
	
}

#top_nav > a:nth-child(3) {

	background: #868686;
	
}

#top_nav > a:nth-child(4) {

	background: #378CC2;

}

#top_nav > a:nth-child(5) {

	background: #17286A;

}


#keyword_search {

	width: 280px;
	position: absolute;
	line-height: 100%;
	top: 75px;
	left: 642px;
	height: 68px;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	background: url(http://www.misa.civicinfo.bc.ca/images/diagonal-bg.png);

}


#keyword_search input[type="text"] {

	width: 176px;
	padding: 6px;
	height: 18px;
	border: 1px solid #CCCCCC;
	background-color: white;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	float: left;

}


#keyword_search input[type="submit"] {

	border: 1px solid #1E728C;
	background: #2BA6CB;
	font-family: inherit;
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 11px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	height: 32px;
	width: 88px;
	line-height: 1;
	float: left;
	margin-left: 2px;

}


/*	SIDEBAR	*/


#sidebar > div {

	border-right: #73161E 4px solid;
	padding-bottom: 20px;
	padding-top: 7px;

}


#sidebar h1 {

	font-size: 14pt;
	color: #73161e;
	font-weight: 400;
	margin-bottom: 14px;

}

#sidebar a {

	text-decoration: none;
	color: inherit;
	display: block;
	margin-bottom: 5px;

}


/*	MAIN CONTENT	*/


#main, #sidebar, .notification {

	margin-top: 35px;

}


#main > * {

	margin-bottom: 20px;

}

#main a {

	text-decoration: none;

}


/*	FOOTER	*/


#footer {

	margin-top: 40px;
	padding-top: 89px;
	padding-bottom: 10px;
	background-image: url(http://www.misa.civicinfo.bc.ca/images/diagonal_small.png);
	background-repeat: repeat-x;
	text-align: center;
	font-size: 14px;

}


#footer > *:nth-child(2) {

	margin-top: 5px;
	font-size: 8pt;

}


#footer a {

	color: inherit;

}


/*	MISC	*/


h1 {

	font-size: 26px;
	font-weight: 400;

}


h2 {

	font-size: 22px;
	font-weight: 400;
	text-align: center;

}


/*	FORM	*/


#main > form > *, .object_display > * {

	/*	Same as elements outside the form	*/
	margin-bottom: 20px;

}


#main > form > div, .object_display > div {

	overflow: hidden;

}


#main > form > div > div, .object_display > div > div {

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	width: 50%;
	float: left;

}

select + input[type="text"], form > div > select {

	display: block;

}


form > div > select {

	margin-left: auto;
	margin-right: auto;
	width: auto;

}


form > div {

	text-align: center;

}


#main > form div.error {

	color: red;

}


#main > form div > input[type="text"]:nth-child(2) {

	margin-top: 10px;

}


#main > form input[type="text"].error, form input[type="password"].error, form select.error {

	border-color: red;

}


form select {

	width: 250px;

}

#main > form input[type="text"].wide {

	width: 300px;

}


#main > form > div > div:first-child, .object_display > div > div:first-child {

	padding-right: 10px;
	text-align: right;

}


#main > form > div > div:nth-child(2), .object_display > div > div:nth-child(2) {

	padding-left: 10px;
	text-align: left;

}


#main > form input[type="submit"] {

	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 25px;
	padding-left: 5px;
	padding-right: 5px;

}


#main > form > input[type="submit"] {

	width: 200px;

}


#main > form input[type="text"], #main > form input[type="password"] {

	width: 150px;

}


#main > a {

	display: block;

}


form > p {

	color: red;
	font-weight: bold;
	text-align: center;

}


form > div > div > p {

	margin-top: 10px;

}


textarea {

	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 125px;
	resize: none;

}


/*	LISTINGS	*/

#results > * {

	margin-top: 10px;

}

#results > *:first-child {

	margin-top: 0px;

}

#results > *:first-child,
#results > *:nth-child(2),
#results > *:nth-child(3),
#results > *:nth-last-child(1),
#results > *:nth-last-child(2) {

	font-weight: bold;
	text-align: center;

}

#results a {

	text-decoration: inherit;

}

#results form {

	display: inline;

}

#results input[type="text"] {

	width: 25px;

}

#results input[type="text"], #results select {

	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	font: inherit;
	font-size: inherit;
	text-decoration: inherit;
	text-transform: inherit;
	color: inherit;
	border: 1px black solid;
	font-style: inherit;

}

#results .nav_arrow {

	display: inline-block;
	margin-left: 15px;
	width: 10px;
	overflow: hidden;

}

#results .nav_arrow > a {

	text-decoration: inherit;
	color: inherit;

}

#results .nav_arrow:first-child {

	margin-left: 0px;
	margin-right: 15px;

}


table {

	width: 100%;

}


table td {

	border: 1px black solid;
	padding: 3px;

}


table thead {

	font-weight: bold;

}


table a {

	text-decoration: inherit;

}


.messages {

	text-align: center;
	color: red;

}


.intro p {

	margin-bottom: 10px;

}


.info {

	font-style: italic;

}


.cc_logo img {

	display: block;
	margin-left: auto;
	margin-right: auto;

}


#main > h2 {

	font-size: 21px;
	font-weight: 400;

}


.no_results {

	font-style: italic;
	text-align: center;

}


.top_link {

	text-align: center;

}


.notification {

	text-align: center;
	padding: 5px;
	border: 1px black solid;
	background: #FAFA80;
	width: 948px;
	margin-left: auto;
	margin-right: auto;

}


hr {

	width: 80%;
	border-top: 1px black solid;
	border-bottom: none;
	border-left: none;
	border-right: none;

}


strong {

	font-weight: bold;

}